* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.6rem; }

body h1 {
  font-weight: 300;
  margin-bottom: 1.4rem;
  margin-top: 0;
  font-size: 4rem; }

body h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
  font-weight: 300; }

body h3 {
  margin-bottom: 1.4rem;
  font-weight: 700;
  font-size: 2.4rem; }

body h4 {
  font-weight: 300;
  font-size: 1.8rem; }

.header {
  background: url(3d951333f893f98a0486f41fdc24b464.png);
  color: #e3edea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh; }

.cdns {
  background-color: #68d58f;
  padding: 5rem;
  margin-bottom: 5rem; }

.cdn {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem; }

.card-grid {
  display: flex;
  align-items: center; }

.tool {
  display: flex;
  justify-content: center; }

.featured-tools {
  background-color: #132940; }

body .page-header {
  margin-top: 0;
  border-bottom: none; }

body .navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background-color: #132940; }
