.header {
  background-color: #132940;
  color: #e3edea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh; }

body .page-header,
body h1 {
  margin-top: 0; }

body .page-header {
  border-bottom: none; }

body .navbar {
  margin-bottom: 0; }
