// @import './variables.scss';
@import './base.scss';
@import './header.scss';
@import './cdnlist.scss';
@import './featuredlist.scss';

body {
  .page-header {
    margin-top: 0;
    border-bottom: none;
  }

  .navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #132940;
  }
}
