@import './about.scss';
@import './header.scss';
@import './cdnlist.scss';

body {
  .page-header,
  h1 {
    margin-top: 0;
  }

  .page-header {
    border-bottom: none;
  }

  .navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #132940;
  }
}
